@import url(../../vendor/Railroad/stylesheet.css);

.navigation {
  background-color: #073042;
  position: relative;
}

.navigation__content {
  display: flex;
  width: calc(100vw - 550px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: visibility, 900ms ease;
}

.navigation__content:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__content_opened {
  display: flex;
  opacity: 1;
  z-index: 4;
  visibility: visible;
}

/*@media screen and (max-width: 770px) {
  .navigation__content {
    padding: 18px 30px 18px 30px;
  }
}*/

.navigation__menu-icon {
  width: 44px;
  height: 44px;
  background-image: url(../../images/hamb-menu-icon.png);
  position: absolute;
  top: 15px;
  right: 30px;
  background-position: center;
  border: none;
  background-size: contain;
  display: none;
  background-color: #151515;
}

@media screen and (max-width: 868px) {
  .navigation__menu-icon {
    display: inline;
  }
}

@media screen and (max-width: 420px) {
  .navigation__menu-icon {
    width: 40px;
    height: 43px;
    right: 14px;
  }
}

.navigation__block {
  display: none;
  width: 390px;
  background: #151515;
  position: fixed;
  top: 0;
  right: 0;
  transition: right .5s;
  align-items: center;
  padding-top: 106px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media screen and (max-width: 440px) {
  .navigation__block {
    width: 90%;
    height: 240px;
  }
}

.navigation__menu-icon_opened {
  background-image: url(../../images/exit-menu.png);
  width: 25px;
  height: 29px;
  z-index: 5;
  position: fixed;
}

@media screen and (max-width: 420px) {
  .navigation__menu-icon_opened {
    width: 22px;
    height: 22px;
  }
}

.navigation__menu-icon:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.7s;
}

.navigation__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 30px;
}

.navigation__link:hover {
  color: #24B14C;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.7s;
}

.navigation__text {
  padding-top: 19px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #24B14C;
  margin: 0;
}

.navigation__text1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 38px;
}
