@import url(../../vendor/Railroad/stylesheet.css);

.header {
  background-color: #151515;
  position: relative;
}

.header__content {
  max-width: 1200px;
  padding: 25px 0px 18px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #151515;
}

@media screen and (max-width: 1240px) {
  .header__content {
    padding: 25px 20px 18px 20px;
  }
}

@media screen and (max-width: 770px) {
  .header__content {
    padding: 25px 20px 21px 20px;
  }
}

.header__logo-block {
  position: relative;
}

.header__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1278px) {
  .header__logo {
    padding-left: 10px;
  }
}

.header__logo-img {
  position: absolute;
  /*width: 36.86px;
  height: 27px;
  left: 16.16px;
  top: 45.37px;
  transform: rotate(-113.88deg);*/
  left: -23px;
  top: -11px;
  z-index: 0;
}

@media screen and (max-width: 1278px) {
  .header__logo-img {
    left: -13px;
  }
}

.header__link-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*.header__logo:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.7s;
}*/

.header__right-block {
   justify-items: center;
   display: flex;
   align-items: center;
   gap: 62px;
}

@media screen and (max-width: 1068px) {
  .header__right-block {
    gap: 46px;
  }
}

@media screen and (max-width: 986px) {
  .header__right-block {
    gap: 32px;
  }
}

@media screen and (max-width: 920px) {
  .header__right-block {
    gap: 18px;
  }
}

.header__pic-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media screen and (max-width: 920px) {
  .header__pic-block {
    gap: 18px;
  }
}

.header__link {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}

.header__link:first-child {
  padding-right: 6px;
}

@media screen and (max-width: 520px) {
  .header__link:first-child {
    padding-right: 14px;
  }
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.7s;
  border-bottom: 1px solid #24B14C;
}

.header__icon {
  width: 26px;
  height: 30px;
  background-color: #F5F5F5;
  padding: 8px 7.3px 8px 7.3px;
  border-radius: 6px;
  margin-left: 17px;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .header__content {
    padding: 18px 14px 18px 14px;
  }
}

@media screen and (max-width: 500px) {
  .header__link {
    font-size: 10px;
    line-height: 16px;
    padding-right: 14px;
  }
}